h1 {
    font-family: "Almarai", sans-serif;
    font-size: 24px;
}

h2 {
    font-family: "Almarai", sans-serif;
    font-size: 20px;
}

.form-produtor {
    display: flex;
    flex-direction: column;
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    gap: 4px;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 3px;
}

.form-item input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #7ac9ff;
}

.form-item-localizacao {
    display: flex;
    gap: 10px;
}

.localizacao-produtor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
}

.localizacao-produtor input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #7ac9ff;
}

.adicional-produtor {
    display: flex;
    flex-direction: column;
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    gap: 4px;
}

textarea {
    border-radius: 5px;
    border: 1px solid #7ac9ff;
}

p {
    font-family: "Almarai", sans-serif;
    font-size: 14px;
}

.contato-produtor {
    display: flex;
    flex-direction: column;
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    gap: 4px;
}

.perfil {
    display: flex;
    flex-direction: column;
    font-family: "Almarai", sans-serif;
    font-size: 14px;
    gap: 10px;
}

.preview-foto-produtor {
    display: none;
    max-width: 320px;
}

.termos-uso {
    text-decoration: none;
    font-family: "Almarai", sans-serif;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.button-criar {
    padding: 5px 20px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Almarai", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 120px;
    background: #1769c3;
    cursor: pointer;
    transition: transform 100ms linear;
}

.button-criar:hover {
    transform: scale(1.08);
}