article.categories-cards {
    display: flex;
    flex-direction: column; 
    background: none;
    width: 131px;
    text-align: center;
    padding-bottom: 5px;
    cursor:pointer;
}

article.categories-cards:hover{
    background-color: transparent;
    transform: scale(1.08)
}

