.wrapper-categorias{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;

}

article.categories-cards {
    display: flex;
    flex-direction: column; 
    background: none;
    width: 131px;
    text-align: center;
    padding-bottom: 5px;
    cursor:pointer;
}

article.categories-cards:hover{
    background-color: transparent;
    transform: scale(1.08)
}

.categorias-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
