.categorias-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.categorias-button{
    margin-right: 10px;
}

.wrapper-categorias{
    display: flex;
    gap: 5px;
    overflow: hidden;

}

article.categories-cards {
    display: flex;
    flex-direction: column; 
    background: none;
    width: 131px;
    text-align: center;
    padding-bottom: 5px;
    cursor:pointer;
    margin: 10px;
}

article.categories-cards:hover{
    background-color: transparent;
    transform: scale(1.08)
}


