.header-form {
    display: flex;
    font-family: "almarai";
    margin-bottom: 30px;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    gap: 30px;
}

#evento-presencial-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#evento-online-form{
    display: none;
    flex-direction: column;
    gap: 18px;
}

.new-event-form {
   display: flex;
   flex-direction: column;
   gap: 18px;
   margin: 0 10px 0 10px;
   font-family: "almarai";
}

.header-form select {
    padding: 5px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.form-item-shrinked {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-item-shrinked input {
    border-radius: 5px;
    padding: 8px;
    border: solid 1px;
    border-color: #2fa6f5;
}

.form-item input {
    border-radius: 5px;
    padding: 8px;
    border: solid 1px;
    border-color: #2fa6f5;
}

.form-item-pair {
    display: flex;
    gap: 10px;
    
}

#form-endereco {
    flex-grow: 4;
}

.form-item textarea {
    resize: none;
    width: 100%;
    font-family: "almarai";
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px;
    border-color: #2fa6f5;
    margin-bottom: 50px;
}

.banner-preview {
    display: none;
    max-width: 320px;
}

.rounded-button {
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

.criar-evento-btn {
    margin: auto;
    color: #fff;
    font-family: Almarai;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border-radius: 120px;
    background: #1769c3;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    border: none;
    background-color: #1769c3;
}

.criar-evento-btn:hover {
    border: none;
    color: white;
    background-color: #1769c3;
}

.termos-uso {
    margin-top: 50px;
}

#event-banner-input{
    border: none;
}
