.ordenar-btn {
  right: 10px;
  top: center;
  padding: 5px;

}

.todos-eventos-title {
  justify-content: space-between;
  display: flex;
  font-family: "almarai";
  margin-bottom: 30px;
  align-items: center;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  gap: 2%;
}