.wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper-mostrarMais {
  display: flex;
  margin: 50px 0;
}

.mostrarMais {
  margin: auto;
  color: #fff;
  font-family: Almarai;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background: #1769c3;
  border: none;
  padding: 10px 30px;
}

.mostrarMais:hover {
  background: #1769c3;
}

.cards {
  width: 330px;
  height: auto;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-family: "almarai";
  transition: transform 100ms linear;
}

.cards:hover {
  background-color: transparent;
  transform: scale(1.08);
}

.banner-card {
  width: 330px;
  height: 264px;
  border-radius: 5px;
  cursor: pointer;
}

.cards p {
  font-family: almarai;
  font-size: 16px;
  color: #000;
  margin: 6px;
  padding: 3px;
  cursor: pointer;
}

.wrapper-cards .cards .event-title {
  font-size: 18px;
}

.event-title {
  font-weight: bold;
}

.events-nearme {
  display: flex;
  justify-content: space-between;
}

.vertodos-button {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: "Almarai", sans-serif;
  border-radius: 5px;
  background: #1769c3;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  margin-right: 10px;
  display: none;
}

.vertodos-button:hover {
  border-radius: 5px;
  background: #1769c3;
}

@media (min-width: 639px){
  .vertodos-button{
    display: block;
  }
}

.vertodos-button-mobile{
  display: flex;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-family: Almarai;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background: #1769c3;
  border: none;
  display: none;
  margin-bottom: 30px;

}

@media (max-width: 639px){
  .vertodos-button-mobile{
    display: block;
  }
}