.ordenar-btn{

   position: absolute;
   right: 10px;
   top: center;

 }

 .todos-eventos-title{
   position: relative;
   display: flex;
   font-family: "almarai";
   margin-bottom: 30px;
   align-items: center;
   margin-top: 30px;
   margin-right: 10px;
   margin-left: 10px;
   gap: 2%;
 }