footer {
  background: linear-gradient(
    91deg,
    rgba(122, 201, 255, 0.87) 6.58%,
    #7ac9ff 14%,
    #0097ff 82.21%
  );
}

.footercenter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 5px 0 5px;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.txtfooter {
  display: flex;
  flex-direction: column;
}

.txtfooter a {
  color: white;
  text-decoration: none;
}

.subtitulo {
  color: #fdfcfc;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.logofooter {
  padding-top: 10px;
  max-height: 50px;
}


