body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
footer {
    margin-top: auto;
  }

.botaologin {
    display: inline-block;
    background: #1769c3;
    color: aliceblue;
    font-family: almarai;
    font-size: 20px;
    width: 270px;
    padding-top: 7px;
    height: 40px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    transition: transform 100ms linear;
  }
