
.wrapper-carousel-control-prev-icon {
    margin-right: auto;
  }
  
  .wrapper-carousel-control-next-icon {
    margin-left: auto;
  }
  
  .carousel-item img {
    height: 429px;
  }
  
  .wrapper-carousel {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
  }