.imgEventoMapa {
  margin-bottom: 7px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.wrapper-cards p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 7px !important;
}

p:last-of-type {
  margin-bottom: 0 !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 420px;
  width: 100%;
}

.IconeEsconderMapa {
  fill: #ffffff;
}

c .evento {
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.evento::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #ffffff;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.evento .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.evento .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.evento.highlight {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 6px 6px;
  width: auto;
}

.evento.highlight::after {
  border-top: 9px solid #ffffff;
}

.evento.highlight .details {
  display: flex;
}

.evento.highlight .icon svg {
  width: 50px;
  height: 50px;
}

.imgcard {
  width: 100%;
}

.esconderMapa-button {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: "Almarai", sans-serif;
  border-radius: 5px;
  background: #1769c3;
  height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.voltarLocalizacao {
  margin-top: 30px;
}

.esconderMapa-button:hover {
  border-radius: 5px;
  background: #1769c3;
}