:root {
  --primary-color: var(--#fff);
}

.page {
  display: flex;
  min-height: 77vh;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}


body {
  background: linear-gradient(180deg,
      #dee9f0 0%,
      #faf9f9 22.6%,
      #fdfcfc 70.1%,
      #dee9f0 100%);
  box-shadow: 0px 0px 0px 0px #0097ff;
}
