:root {
  --primary-color: var(--#fff);
}

.page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.events-map {
  display: flex;
  justify-content: space-between;
}

.map-button {
  text-decoration: none;
  color: #fff;
  font-family: "Almarai", sans-serif;
  background-color: #7ac9ff;
  font-size: smaller;
  height: 30px;
  line-height: 30px;
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.map-button:hover {
  background-color: #2fa6f5;
}

.wrapper-carousel-control-prev-icon {
  margin-right: auto;
}

.wrapper-carousel-control-next-icon {
  margin-left: auto;
}

.carousel-item img {
  height: 429px;
}

.wrapper-carousel {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}

body {
  background: linear-gradient(
    180deg,
    #dee9f0 0%,
    #faf9f9 22.6%,
    #fdfcfc 70.1%,
    #dee9f0 100%
  );
  box-shadow: 0px 0px 0px 0px #0097ff;
}

