.target {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  max-width: 1400px;
  padding: 10px;
  margin: auto;
}

#recovery-button {
  margin: auto;
  color: #fff;
  font-family: Almarai;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background: #1769c3;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 30px;
}

#recovery-button:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.title-line {
  font-family: poppins;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 32px;
}

.line-1 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

.mail-line {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 24px;
}

body {
  font-family: almarai;
}

#email {
  height: 30px;
  border: 2px solid #7ac9ff;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}

label {
  font-size: 16px;
}

.new-password {
  height: 30px;
  border: 2px solid #7ac9ff;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}
#entrar-btn {
  color: white;
  text-decoration: unset;
}
