.titulo-sobrenos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 12%;
}

.text-sobrenos {
    text-align: justify;
    line-height: 25px;
}

.text-sobrenos2 {
    text-align: justify;
    padding-top: 2%;
}

.surgimento-sobrenos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1% 12%;
}

.h2-sobrenos {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
}

.text-surgimento {
    padding-top: 2%;
    text-align: justify;
    line-height: 25px;
}

.text-surgimento2 {
    padding-top: 1%;
    text-align: justify;
    line-height: 25px;
}

.equipe-sobrenos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 12%;
}

.h2-equipe {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
}

.text-equipe {
    padding-top: 2%;
    text-align: justify;
    line-height: 25px; 
}


.fotos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.separacao-fotos {
    display: flex;
    flex-direction: column; 
    background: none;
    text-align: center;
    padding-bottom: 10px;
    height: 12%;
    width: 12%;
    border-radius: 50%;
}

.separacao-fotos2 {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 5%;
    background: none;
    text-align: center;
    height: 12%;
    width: 12%;
    border-radius: 50%;
}
