h1 {
    font-family: "almarai";
    font-size: 30px !important;
    font-weight: bold !important;
    color: #000;
    margin: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

button {
    cursor: pointer;
    background-color: #e2ecf3;
    /* padding: 10px; */
    border-radius: 5px;


}

button:hover{
    transform: scale(1.08)


}

h3 {
    font-family: almarai;
    font-size: 16px !important;
    justify-content: center;
    color: #5a5a5a;


}

p {
    font-family: almarai;

}